@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <p><a href="/servicestack/metadata">Service Stack Meta data</a></p>
    </div>
</body>
</html>
