@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Service Stack + AppHarbor + Asp.net MVC 3</title>
</head>
<body>
    <div>
        <h1></h1>
        <p><a href="/servicestack/metadata">Service Stack Meta data</a></p>
    </div>
</body>
</html>
