<?xml version="1.0"?>

<configuration>
  
  <appSettings>
    <add key="DefaultFibonacciLimit" value="10"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>

    <handlers>
      
      <!-- ServiceStack IIS 7.0 and IIS Express! -->
      <add name="ServiceStack.Factory" path="servicestack" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      
    </handlers>
  </system.webServer>
  
</configuration>
